@charset "utf-8";

.main_content a:focus,
.main_content button:focus{outline:1px solid black; outline-offset: 3px !important;}
.main_visual{background-color: #EFF5FF;}
.main_visual .mv_inner{max-width: 1280px;margin-left:auto;margin-right:auto; padding:59px 0 63px;position:relative;}
.main_visual .mv_inner .mv_bg{background-color: #EFF5FF;position:absolute;left:0;top:0;width:100%;height:100%;background-position: right bottom;background-repeat: no-repeat;background-size:548px;}
.main_visual .keywords{margin-bottom:12px;position:relative;}
.main_visual .keywords span{display:inline-block;background-color: #fff;border-radius:4px;padding:8px 10px;color:#2F87EF;font-size:14px;font-weight:700;margin-right:2px;box-shadow: 0 5px 20px rgba(47, 135, 239, 0.15);}
.main_visual h2{position:relative;color:#20212B;font-size:32px;font-weight:300;line-height:1.4}
.main_visual h2 strong{font-weight:700;display: block;}
.main_visual .mv_btn{position:relative;margin-top:44px;display:inline-block;color: #2F87EF;font-size:20px;font-weight:800;padding-right:27px;background-position: right center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10.2 11L9.3 11.9C9.11667 12.0833 9.025 12.3167 9.025 12.6C9.025 12.8833 9.11667 13.1167 9.3 13.3C9.48333 13.4833 9.71667 13.575 10 13.575C10.2833 13.575 10.5167 13.4833 10.7 13.3L13.3 10.7C13.5 10.5 13.6 10.2667 13.6 10C13.6 9.73333 13.5 9.5 13.3 9.3L10.7 6.7C10.5167 6.51667 10.2833 6.425 10 6.425C9.71667 6.425 9.48333 6.51667 9.3 6.7C9.11667 6.88333 9.025 7.11667 9.025 7.4C9.025 7.68333 9.11667 7.91667 9.3 8.1L10.2 9H7C6.71667 9 6.47917 9.09583 6.2875 9.2875C6.09583 9.47917 6 9.71667 6 10C6 10.2833 6.09583 10.5208 6.2875 10.7125C6.47917 10.9042 6.71667 11 7 11H10.2Z' fill='%232F87EF'/%3E%3C/svg%3E%0A");}

.main_visual .mv_inner .mv_bg.pc{background-image: url('/images/matchup/v1/mv_img.jpg');}
.main_visual .mv_inner .mv_bg.mobile{background-image: url('/images/matchup/v1/mv_img_mobile.png');}

.main_rtop_box{position:relative;}
.main_rtop_box:before{content:"";position:absolute;display:block;left:0;top:0;width:100%;height: 140px;background-color: #EFF5FF;}
.main_rtop_box .main_rtop_inner{max-width:1280px;margin-left:auto;margin-right:auto;position:relative;z-index:10;display:flex;}
.main_wbox{background-color: #fff;border-radius: 20px;padding:40px;box-shadow: 0 5px 20px rgba(88, 131, 249, 0.1);position:relative;}
.main_wbox .wbox_title{color:#222;font-size:20px;font-weight:800;margin-bottom:20px;}
.main_lecture{min-width:468px;max-width:468px;height: 421px;}
.lecture_slider{margin:0 -40px;}
.lecture_slider .item{height:275px;padding:0 40px;}
.lecture_slider .item a{}
.lecture_slider .item .subject{margin-bottom:19px;display:flex;align-items: center;}
.lecture_slider .item .subject .day{display: inline-block;color:#fff;background-color: #2F87EF;border-radius:4px;padding:6px 8px;font-size:13px;font-weight:800;margin-right:10px;}
.lecture_slider .item .subject strong{color:#222;font-size:16px;font-weight:700;flex:1 1 auto;width:1%;}
.lecture_slider .item .time{color:#444;font-size:14px;}
.lecture_slider .item .time div{position: relative;padding-left:8px;}
.lecture_slider .item .time div:before{content:"";display:block;position: absolute;left:0;top:5px;background-color: #444;width:3px;height:3px;border-radius: 50%;}
.lecture_slider .item .time div + div{margin-top:7px;}
.lecture_slider .item .ci{border-radius:10px;background-color: #F5F7F8;text-indent:-999em;overflow:hidden;padding:13px 0;margin-top:19px;}
.lecture_slider .item .ci div{height:64px;background-color: #F5F7F8;text-indent:-999em;overflow:hidden;background-position: center center;background-repeat: no-repeat;background-size:contain;}
.lecture_slider .item .cate{display:flex;flex-wrap: wrap;margin-top:20px;}
.lecture_slider .item .cate span{border:1px solid #E8E8E8;background-color: #F5F7F8;padding:8px;color:#444;font-size:13px;border-radius:4px;margin-right:5px;}
.lecture_slider .item .preparation_msg{text-align: center;height:245px;color:#222;font-size:16px;font-weight:700;background-color: #FCFDFD;border-radius:10px;padding:23px 10px;display:flex;align-items: center;justify-content: center;flex-direction: column;}
.lecture_slider .item .preparation_msg:before{content:"";display:block;margin-bottom:20px;width:100%;height:42px;background-position: center center;background-repeat: no-repeat;background-size: contain;background-image: url("/images/matchup/v1/preparation_msg.png");}
.lecture_slider .item .preparation_msg strong{color:#2F87EF;}
.lecture_slide_ctrl{display: flex;justify-content: center;}
.lecture_slide_ctrl .nav_arrow{width:24px;height:24px;text-indent: -999em;overflow: hidden;background-position: center center;background-repeat: no-repeat;background-color: transparent;border:0;}
.lecture_slide_ctrl .nav_arrow.nav_banner_prev{background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_1341' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_1341)'%3E%3Cpath d='M10.4539 12L14.5269 16.0731C14.6654 16.2116 14.7362 16.3856 14.7394 16.5952C14.7427 16.8048 14.6718 16.9821 14.5269 17.1269C14.3821 17.2718 14.2064 17.3443 14 17.3443C13.7936 17.3443 13.618 17.2718 13.4731 17.1269L8.97892 12.6327C8.88532 12.5391 8.81929 12.4404 8.78084 12.3366C8.74238 12.2327 8.72314 12.1205 8.72314 12C8.72314 11.8795 8.74238 11.7673 8.78084 11.6635C8.81929 11.5597 8.88532 11.4609 8.97892 11.3674L13.4731 6.87313C13.6116 6.73466 13.7856 6.66383 13.9952 6.66063C14.2048 6.65741 14.3821 6.72824 14.5269 6.87313C14.6718 7.01799 14.7443 7.19363 14.7443 7.40003C14.7443 7.60643 14.6718 7.78206 14.5269 7.92693L10.4539 12Z' fill='%23444444'/%3E%3C/g%3E%3C/svg%3E%0A");}
.lecture_slide_ctrl .nav_arrow.nav_banner_next{background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_1345' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_1345)'%3E%3Cpath d='M12.9462 12L8.87309 7.92689C8.73462 7.78844 8.66379 7.6144 8.66059 7.40479C8.65737 7.19519 8.7282 7.01795 8.87309 6.87309C9.01795 6.7282 9.19359 6.65576 9.39999 6.65576C9.60639 6.65576 9.78202 6.7282 9.92689 6.87309L14.4211 11.3673C14.5147 11.4609 14.5807 11.5596 14.6192 11.6635C14.6577 11.7673 14.6769 11.8795 14.6769 12C14.6769 12.1205 14.6577 12.2327 14.6192 12.3365C14.5807 12.4404 14.5147 12.5391 14.4211 12.6327L9.92689 17.1269C9.78844 17.2654 9.6144 17.3362 9.40479 17.3394C9.19519 17.3426 9.01795 17.2718 8.87309 17.1269C8.7282 16.982 8.65576 16.8064 8.65576 16.6C8.65576 16.3936 8.7282 16.218 8.87309 16.0731L12.9462 12Z' fill='%23444444'/%3E%3C/g%3E%3C/svg%3E%0A");}
.lecture_slide_ctrl .slide_count{line-height:24px;padding:0 5px;font-size:14px;min-width:50px;color:#444;text-align: center;}
.lecture_slide_ctrl .slide_count strong{color:#2F87EF;font-weight:800;}
.notice_issuance{min-width:792px;max-width:792px;margin-left:auto;}
.notice_issuance .main_wbox{height:258px;}
.notice_lastest{}
.notice_lastest .item{display:flex;align-items: center;}
.notice_lastest .item + .item{margin-top:13px;}
.notice_lastest .item a{color:#444;font-size:14px;flex:1 1 auto;max-width:calc(100% - 100px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.notice_lastest .item a:hover{text-decoration: underline;color:#000;}
.notice_lastest .item .date{color:#444;font-size:14px;margin-left:auto;width:82px;}
.lst_more{position:absolute;right:37px;top:42px;transition: all 0.3s;width:20px;height:20px;text-indent: -999em;overflow: hidden;background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_1309' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_1309)'%3E%3Cpath d='M9.25 10.75H5.75C5.5375 10.75 5.35938 10.6785 5.21563 10.5356C5.07188 10.3927 5 10.2156 5 10.0044C5 9.79313 5.07188 9.61458 5.21563 9.46875C5.35938 9.32292 5.5375 9.25 5.75 9.25H9.25V5.75C9.25 5.5375 9.32145 5.35937 9.46435 5.21562C9.60727 5.07187 9.78435 5 9.9956 5C10.2069 5 10.3854 5.07187 10.5312 5.21562C10.6771 5.35937 10.75 5.5375 10.75 5.75V9.25H14.25C14.4625 9.25 14.6406 9.32145 14.7844 9.46435C14.9281 9.60727 15 9.78435 15 9.9956C15 10.2069 14.9281 10.3854 14.7844 10.5312C14.6406 10.6771 14.4625 10.75 14.25 10.75H10.75V14.25C10.75 14.4625 10.6785 14.6406 10.5356 14.7844C10.3927 14.9281 10.2156 15 10.0044 15C9.79313 15 9.61458 14.9281 9.46875 14.7844C9.32292 14.6406 9.25 14.4625 9.25 14.25V10.75Z' fill='%23222222'/%3E%3C/g%3E%3C/svg%3E%0A");}
.lst_more:hover{transform: rotate(90deg);}
.main_issuance{margin-top:20px;display:flex;}
.main_issuance a{flex:1 1;padding:30px 40px;color:#fff;background-color: #ddd;border-radius:20px;;transition: all 0.3s;box-shadow: 0 5px 20px rgba(88, 131, 249, 0.4);height:143px;background-position: right bottom;background-repeat: no-repeat;background-size:102px;}
.main_issuance a + a{margin-left:20px;}
.main_issuance .tit{transition:all 0.3s;display:inline-block;padding-right:27px;font-size:20px;font-weight:800;margin-bottom:17px;background-position: right center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10.2 11L9.3 11.9C9.11667 12.0833 9.025 12.3167 9.025 12.6C9.025 12.8833 9.11667 13.1167 9.3 13.3C9.48333 13.4833 9.71667 13.575 10 13.575C10.2833 13.575 10.5167 13.4833 10.7 13.3L13.3 10.7C13.5 10.5 13.6 10.2667 13.6 10C13.6 9.73333 13.5 9.5 13.3 9.3L10.7 6.7C10.5167 6.51667 10.2833 6.425 10 6.425C9.71667 6.425 9.48333 6.51667 9.3 6.7C9.11667 6.88333 9.025 7.11667 9.025 7.4C9.025 7.68333 9.11667 7.91667 9.3 8.1L10.2 9H7C6.71667 9 6.47917 9.09583 6.2875 9.2875C6.09583 9.47917 6 9.71667 6 10C6 10.2833 6.09583 10.5208 6.2875 10.7125C6.47917 10.9042 6.71667 11 7 11H10.2Z' fill='white'/%3E%3C/svg%3E%0A");}
.main_issuance a:hover .tit{padding-right:35px;}
.main_issuance .txt{font-size:14px;display:block;line-height:1.5;font-weight:400;}
.main_issuance .completion{background-color: #2F87EF;background-image: url('/images/matchup/v1/main_issuance_completion.jpg');}
.main_issuance .certificate{background-color: #5883F9;background-image: url('/images/matchup/v1/main_issuance_certificate.jpg');}

.mc_section{margin-top:85px;position: relative;}
.mc_section + .mc_section{}
.mc_section .ms_title{color:#222;font-size:28px;font-weight:700;margin-bottom:30px;}
.ms_process{}
.ms_process .tabs{}
.ms_process .tabs_btn{display:flex;flex-wrap: wrap;margin-bottom:25px;}
.ms_process .tabs_btn button{background-color: #F5F7F8;color:#444;font-size:14px;font-weight:700;border-radius: 10px;padding:10px 15px;margin-right:6px;margin-bottom:6px;border:0;transition: all 0.2s;}
.ms_process .tabs_btn button:hover{background-color: #e8edf0;}
.ms_process .tabs_btn button[aria-selected="true"]{background-color: #2F87EF;color:#fff;}
.ms_process .tabs_cnt{}

.process_list1{display:flex;flex-wrap: wrap;}
.process_list1 > li{width:305px;margin-right:20px;min-height: 235px;}
.process_list1 > li:nth-child(4n){margin-right:0;}
.process_list1 > li:nth-child(n+5){margin-top:20px;}
.process_list1 > li a{display:block;border:1px solid #E8E8E8;border-radius:10px;padding:30px 20px;}
.process_list1 .top{display:flex;align-items: start;}
.process_list1 .top .cate_img{max-width:70px;min-width:70px;height:70px;bordeR:1px solid #e8e8e8;border-radius: 4px;background-position: center center;background-repeat: no-repeat;background-size: contain;}
.process_list1 .top .cnt{flex:1 1 auto;margin-left:12px;}
.process_list1 .top .cnt .subject{display:inline-block;color:#222;font-size:18px;font-weight:700;padding-right: 18px;background-position: right center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_4_2838' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='7' height='10'%3E%3Crect y='10' width='10' height='7' transform='rotate(-90 0 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4_2838)'%3E%3Cpath d='M6.53646 4.99999C6.53646 5.09722 6.51729 5.19097 6.47895 5.28124C6.44061 5.37152 6.38311 5.45138 6.30643 5.52083L1.93577 9.47916C1.76708 9.63194 1.57155 9.70486 1.34918 9.69791C1.12681 9.69097 0.931282 9.61111 0.76259 9.45833C0.593898 9.30555 0.509552 9.12847 0.509552 8.92708C0.509552 8.72569 0.593898 8.54861 0.76259 8.39583L4.53516 4.99999L0.76259 1.58333C0.593898 1.43055 0.513386 1.25347 0.521053 1.05208C0.528721 0.850689 0.616901 0.673606 0.785593 0.520828C0.954285 0.368051 1.14981 0.291661 1.37218 0.291661C1.59455 0.291661 1.79008 0.368051 1.95877 0.520828L6.30643 4.47916C6.38311 4.54861 6.44061 4.62847 6.47895 4.71874C6.51729 4.80902 6.53646 4.90277 6.53646 4.99999Z' fill='%23222222'/%3E%3C/g%3E%3C/svg%3E%0A");}
.process_list1 .top .cnt .wt{margin-top:10px;color:#444;font-size:13px;}
.process_list1 .top .cnt .wt span{display:block;}
.process_list1 .top .cnt .wt span + span{margin-top:3px;}
.process_list1 .bottom{padding-top:25px;position: relative;height: 105px;}
.process_list1 .bottom .ci{border:1px solid #B1B1B1; border-radius:10px;background-color: #FFFFFF;height:80px;overflow: hidden;transition:all 0.4s;}
.process_list1 .bottom .ci div{display:block;height:80px;background-position: center center;background-repeat: no-repeat;background-size: contain;transition:all 0.4s;margin:0 15px;}
.process_list1 .bottom .txt{opacity:0;position:absolute;left:0;top:17px;line-height:1.3;transition:all 0.4s;color:#444;font-size:13px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;}
.process_list1 > li a:hover, .process_list1 > li a:focus-visible{border:2px solid #2F87EF;padding:29px 19px;}
.process_list1 > li a:hover .ci, .process_list1 > li a:focus-visible .ci{opacity:0;}
.process_list1 > li a:hover .txt, .process_list1 > li a:focus-visible .txt{opacity:1;}

.process_list2{display:flex;flex-wrap: wrap;}
.process_list2 > li{width:305px;margin-right:20px;border-radius: 10px;border:1px solid #E8E8E8;border-top:0;min-height: 418px;}
.process_list2 >  li:nth-child(4n){margin-right:0;}
.process_list2 >  li:nth-child(n+5){margin-top:20px;}
.process_list2 .thum_title{height:170px;background-position: center center;background-repeat: no-repeat;background-size: cover;background-color: #ddd;margin-left:-1px;margin-right:-1px;border-radius:10px 10px 0 0;text-indent:-999em;overflow:hidden;}
.process_list2 .cnt{padding:20px 25px;}
.process_list2 .cnt .subject{display:inline-block;padding-right:18px;color:#222;word-break:b;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size:18px;font-weight:700;background-position: right center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_1309' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='7' height='10'%3E%3Crect y='10' width='10' height='7' transform='rotate(-90 0 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_1309)'%3E%3Cpath d='M6.53643 4.99999C6.53643 5.09722 6.51726 5.19097 6.47892 5.28124C6.44058 5.37152 6.38307 5.45138 6.3064 5.52083L1.93574 9.47916C1.76704 9.63194 1.57152 9.70486 1.34915 9.69791C1.12678 9.69097 0.931252 9.61111 0.76256 9.45833C0.593868 9.30555 0.509521 9.12847 0.509521 8.92708C0.509521 8.72569 0.593867 8.54861 0.76256 8.39583L4.53513 4.99999L0.762559 1.58333C0.593867 1.43055 0.513355 1.25347 0.521023 1.05208C0.528691 0.850689 0.616871 0.673606 0.785563 0.520828C0.954255 0.368051 1.14978 0.291661 1.37215 0.291661C1.59452 0.291661 1.79005 0.368051 1.95874 0.520828L6.3064 4.47916C6.38307 4.54861 6.44058 4.62847 6.47892 4.71874C6.51726 4.80902 6.53643 4.90277 6.53643 4.99999Z' fill='%23222222'/%3E%3C/g%3E%3C/svg%3E%0A");}
.process_list2 .cnt .subject:hover{color:#000;}
.process_list2 .cnt .wt{margin-top:5px;color:#444;font-size:13px;display: block;}
.process_list2 .cnt .links{margin-top:10px;}
.process_list2 .cnt .links li{}
.process_list2 .cnt .links li + li{border-top:1px solid #E8E8E8;}
.process_list2 .cnt .links li a{display:block;position:relative;line-height:1.2;padding:10px 0 10px 21px;color:#444;font-size:13px;background-position: left top 9px;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1.5' width='12' height='13' rx='1' fill='white' stroke='%23444444' stroke-width='1.2'/%3E%3Cpath d='M4.5 5.5H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3Cpath d='M4.5 8H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3Cpath d='M4.5 10.5H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
.process_list2 .cnt .links li a span{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.process_list2 .cnt .links li a:hover{color:#000;background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1.5' width='12' height='13' rx='1' fill='white' stroke='%23000000' stroke-width='1.2'/%3E%3Cpath d='M4.5 5.5H9.83333' stroke='%23000000' stroke-linecap='round'/%3E%3Cpath d='M4.5 8H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3Cpath d='M4.5 10.5H9.83333' stroke='%23000000' stroke-linecap='round'/%3E%3C/svg%3E%0A");}

.main_education{}
.main_education .list_action{}
.main_education .list_sort{position:absolute;right:0;top:0;}
.main_education .list_sort .sort_selected{display:block;width:174px;color:#444;font-size:13px;height:34px;display:inline-block;padding:9px 32px 9px 18px;border:1px solid #D0D0D0;border-radius:4px;}
.main_education .list_sort .sort_selected:after{content:"";position: absolute;right:13px;top:50%;margin-top:-4px;width:10px;height:8px;transition:all 0.3s;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_4_2824' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='8'%3E%3Crect y='0.5' width='10' height='7' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4_2824)'%3E%3Cpath d='M5.00001 7.03643C4.90278 7.03643 4.80903 7.01726 4.71876 6.97892C4.62848 6.94058 4.54862 6.88307 4.47917 6.8064L0.520839 2.43574C0.368061 2.26704 0.295144 2.07152 0.302089 1.84915C0.309033 1.62678 0.388894 1.43125 0.541672 1.26256C0.69445 1.09387 0.871533 1.00952 1.07292 1.00952C1.27431 1.00952 1.45139 1.09387 1.60417 1.26256L5.00001 5.03513L8.41667 1.26256C8.56945 1.09387 8.74653 1.01336 8.94792 1.02102C9.14931 1.02869 9.32639 1.11687 9.47917 1.28556C9.63195 1.45426 9.70834 1.64978 9.70834 1.87215C9.70834 2.09452 9.63195 2.29005 9.47917 2.45874L5.52084 6.8064C5.45139 6.88307 5.37153 6.94058 5.28126 6.97892C5.19098 7.01726 5.09723 7.03643 5.00001 7.03643Z' fill='%23222222'/%3E%3C/g%3E%3C/svg%3E%0A");}
.main_education .list_sort.active .sort_selected{border-radius:4px 4px 0 0;}
.main_education .list_sort.active .sort_selected:after{transform: rotate(-180deg);}
.list_action .sort_list{max-height:351px;width:100%;top:33px;}
.list_action .sort_list .cnt{max-height:351px;}
.sort_list{position:absolute;right:0;background-color:#fff;z-index:10;}
.sort_list .scroll-wrapper{border:1px solid #d0d0d0;border-radius:0 0 10px 10px;}
.sort_list ul li:first-child{margin-top:10px;}
.sort_list ul li:last-child{margin-bottom:10px;}
.sort_list ul li a:hover{text-decoration: underline;}
.sort_list ul li a{display:block;color:#333;padding:10px 0 10px 16px;;background-color:#fff;font-size:13px;color:#444;}
.sort_list ul li a:hover{text-decoration: underline;}
.sort_list ul li a.active{color:#000;font-weight:700;text-decoration: underline;}

.ms_edu{}
.edu_list{display:flex;flex-wrap: wrap;}
.edu_list li{width:50%;}
.edu_list li:nth-child(2n){}
.edu_list li:nth-child(n+3){margin-top:30px;padding-top:30px;border-top:1px solid #E8E8E8;}
.edu_list li a{display:flex;}
.edu_list li .thum{min-width:230px;max-width:230px;height:150px;background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius:10px;position: relative;}
.edu_list li .status-span{position: absolute; right: 7px; top: 7px; display: flex;flex-direction: row-reverse;}
.edu_list li .status{padding:4px 7px;color:#EC484F;background-color: #fff;border-radius: 4px;margin-left:4px;border: 3px solid #EC484F; font-weight: 400;}
.edu_list li .status-blue{padding:4px 7px;color:#2F87EF;background-color: #fff;border-radius: 4px;margin-left:4px;border: 3px solid #2F87EF; font-weight: 400;}
.edu_list li .cnt{flex:1 1 auto;margin-left:30px;padding-right:20px;}
.edu_list li .cnt .subject{color:#222;font-size:18px;font-weight:700;display: inline-block;border-bottom:1px solid #fff;}
.edu_list li .cnt .info{margin-top:7px;}
.edu_list li .cnt .info div{display:inline-block;margin:2px 5px 2px 0;color:#444;font-size:13px;}
.edu_list li .cnt .info div + div{}
.edu_list li .cnt .stars{margin-top:17px;}
.edu_list li .btn_join{margin-top:25px;display:inline-block;border-radius:4px;padding:10px 20px;color:#444;font-size:13px;font-weight:700;border:1px solid #E8E8E8;transition: all 0.3s;}
.edu_list li a:hover .btn_join{border:1px solid #2F87EF;background-color: #2F87EF;color:#fff;font-weight: 800;}
.edu_list li a:hover .cnt .subject{border-bottom:1px solid #222;}
.stars.inline{display: inline-flex;vertical-align: middle;}
.stars{display:flex;gap:2px;}
.stars .star{width:16px;height:15px;background-size:contain;background-position: center center;background-repeat: no-repeat;background-image: url('../../../images/matchup/v1/star.png');}
.stars .star.active{width:17px;background-image: url('../../../images/matchup/v1/star_active.png');}
.list_more{text-align: center;margin-top:40px;}
.list_more .lm_btn{display:inline-block;background-color: #F5F7F8;border-radius:10px;padding:18px 20px;width:100%;max-width:250px;transition:all 0.3s;}
.list_more .lm_btn span{display:inline-block;padding-right:22px;position: relative;}
.list_more .lm_btn span:before{content:"";width:10px;height: 10px;position: absolute;transition:all 0.3s;right:0;top:50%;margin-top:-5px;background-position: center center;background-size: contain;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.75 6.25H1.25C1.0375 6.25 0.859375 6.17855 0.715625 6.03565C0.571875 5.89273 0.5 5.71565 0.5 5.5044C0.5 5.29313 0.571875 5.11458 0.715625 4.96875C0.859375 4.82292 1.0375 4.75 1.25 4.75H4.75V1.25C4.75 1.0375 4.82145 0.859375 4.96435 0.715624C5.10727 0.571874 5.28435 0.5 5.4956 0.5C5.70687 0.5 5.88542 0.571874 6.03125 0.715624C6.17708 0.859375 6.25 1.0375 6.25 1.25V4.75H9.75C9.9625 4.75 10.1406 4.82145 10.2844 4.96435C10.4281 5.10727 10.5 5.28435 10.5 5.4956C10.5 5.70687 10.4281 5.88542 10.2844 6.03125C10.1406 6.17708 9.9625 6.25 9.75 6.25H6.25V9.75C6.25 9.9625 6.17855 10.1406 6.03565 10.2844C5.89273 10.4281 5.71565 10.5 5.5044 10.5C5.29313 10.5 5.11458 10.4281 4.96875 10.2844C4.82292 10.1406 4.75 9.9625 4.75 9.75V6.25Z' fill='%23222222'/%3E%3C/svg%3E%0A");}
.list_more .lm_btn:hover{background-color: #e8edf0;}
.list_more .lm_btn:hover span:before{transform: rotate(90deg);}

.popup_banner{max-width:366px;}

@media (min-width: 1250px) {
}
@media (max-width: 1249px) {
    .main_visual .mv_inner{padding:70px 15px 60px;}
    .main_visual .mv_inner .mv_bg{height:calc(100% + 30px);background-position: right bottom -90px;background-repeat: no-repeat;background-size:260px;}
    .main_visual .keywords span{padding:5px 10px;font-size:12px;margin-right:5px;box-shadow: 0 3px 10px rgba(47, 135, 239, 0.15);}
    .main_visual h2{font-size:18px;font-weight:400;word-break: keep-all;}
    .main_visual .mv_btn{margin-top:20px;font-size:14px;padding-right:20px;background-size:16px;}

    .main_rtop_box{position:relative;top:-10px;padding:0 15px;}
    .main_rtop_box:before{height: 95px;top:40px;}
    .main_rtop_box .main_rtop_inner{display:block;}
    .main_wbox{padding:25px 20px;}
    .main_wbox .wbox_title{font-size:18px;margin-bottom:12px;}
    .main_lecture{min-width:100%;max-width:100%;height: auto;}
    .lecture_slider{margin:0 -20px;}
    .lecture_slider .item{height:auto;padding:0 20px;}
    .lecture_slider .item a{}
    .lecture_slider .item .subject{margin-bottom:12px;align-items: start;}
    .lecture_slider .item .subject .day{padding:4px 8px;font-size:11px;}
    .lecture_slider .item .subject strong{font-size:14px;margin-top:2px;}
    .lecture_slider .item .time{font-size:12px;}
    .lecture_slider .item .time div{padding-left:9px;}
    .lecture_slider .item .time div + div{margin-top:4px;}
    .lecture_slider .item .ci{padding:0 5px;margin-top:12px;}
    .lecture_slider .item .cate{margin-top:12px;}
    .lecture_slider .item .cate span{padding:6px 8px;font-size:11px;}
    .lecture_slider .item .preparation_msg{height:122px;font-size:13px;}
    .lecture_slider .item .preparation_msg:before{margin-bottom:14px;}
    
    .lecture_slide_ctrl{position:absolute;right:20px;top:28px;}
    .lecture_slide_ctrl .nav_arrow{width:20px;height:14px;}
    .lecture_slide_ctrl .nav_arrow.nav_banner_prev{}
    .lecture_slide_ctrl .nav_arrow.nav_banner_next{}
    .lecture_slide_ctrl .slide_count{line-height:14px;padding:0 5px;font-size:12px;min-width:36px;}

    .notice_issuance{min-width:100%;max-width:100%;margin-top:20px;}
    .notice_issuance .main_wbox{height:auto;}
    .notice_lastest .item + .item{margin-top:12px;}
    .notice_lastest .item a{font-size:12px;max-width:calc(100% - 88px);}
    .notice_lastest .item .date{font-size:10px;width:60px;}
    .lst_more{right:15px;top:25px;}

    .main_issuance{display: none;}

    .mc_section{margin-top:30px;}
    .mc_section + .mc_section{margin-top: 40px;}
    .mc_section .ms_title{font-size:18px;margin-bottom:15px;}
    .ms_process{}
    .ms_process .tabs{}
    .ms_process .tabs_btn{margin-bottom:14px;}
    .ms_process .tabs_btn button{font-size:13px;padding:10px 12px;margin-bottom:6px;}

    .process_list1{}
    .process_list1 > li{width:calc(50% - 10px);margin-right:20px;min-height: 0;}
    .process_list1 > li:nth-child(2n){margin-right:0;}
    .process_list1 > li:nth-child(n+3){margin-top:20px;}
    .process_list1 > li a{padding:20px;height: 100%;}
    .process_list1 .top .cate_img{max-width:60px;min-width:60px;height:60px;}
    .process_list1 .top .cnt{margin-left:15px;}
    .process_list1 .top .cnt .subject{font-size:16px;}
    .process_list1 .top .cnt .wt{margin-top:8px;font-size:11px;}
    .process_list1 .top .cnt .wt span + span{margin-top:5px;}
    .process_list1 .bottom{padding-top:15px;height: auto;}
    .process_list1 .bottom .ci{margin-top:15px;}
    .process_list1 .bottom .txt{opacity:1;position:relative;top:0;transform: translate(0,0);font-size:12px;}
    .process_list1 > li a:hover{border:2px solid #2F87EF;padding:19px;}
    .process_list1 > li a:hover .ci{opacity:1;}

    .process_list2{}
    .process_list2 > li{width:calc(50% - 10px);margin-right:20px;min-height: 0;}
    .process_list2 > li:nth-child(2n){margin-right:0;}
    .process_list2 > li:nth-child(n+3){margin-top:20px;}
    .process_list2 .thum_title{height:auto;padding-top:56%;}
    .process_list2 .cnt{padding:20px 20px 10px;}
    .process_list2 .cnt .subject{font-size:16px;}
    .process_list2 .cnt .wt{font-size:12px;}
	.process_list2 .cnt .links li a{font-size:12px;padding:12px 0 9px 21px;background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1.5' width='12' height='13' rx='1' fill='white' stroke='%23444444' stroke-width='1.2'/%3E%3Cpath d='M4.5 5.5H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3Cpath d='M4.5 8H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3Cpath d='M4.5 10.5H9.83333' stroke='%23444444' stroke-linecap='round'/%3E%3C/svg%3E%0A");}

    .main_education{}
    .main_education .list_action{top:-9px;}
    .main_education .list_sort{position:relative;}
    .main_education .list_sort .sort_selected{width:100%;display:block;border:1px solid #e8e8e8;padding-left:12px;}
    .list_action .sort_list .cnt{max-height:231px;}

    .ms_edu{}
    .edu_list{margin-top:15px;}
    .edu_list li{width:50%;padding-right:10px;}
    .edu_list li:nth-child(2n){margin-right:0;padding-left:10px;padding-right:0;}
    .edu_list li:nth-child(n+3){margin-top:25px;padding-top:25px;border-top:1px solid #E8E8E8;}
    .edu_list li a{display:block;}
    .edu_list li .thum{min-width:100%;max-width:100%;height:auto;padding-top:65%;background-size:cover;}
    .edu_list li .cnt{margin-left:0;padding-right:0;margin-top:15px;width:100%;}
    .edu_list li .cnt .subject{font-size:16px;}
    .edu_list li .cnt .info div{margin:2px 10px 2px 0;font-size:12px;}
    .edu_list li .cnt .stars{margin-top:10px;}
    .edu_list li .btn_join{display:none;}
    .stars .star{margin-right:2px;}
    .list_more{margin-top:25px;}
    .list_more .lm_btn{max-width:100%;}
}

@media (max-width: 500px) {
    .process_list1{}
    .process_list1 > li{width:100%;margin-right:0;min-height: 0;}
    .process_list1 > li + li{margin-top:15px;}
    .process_list1 > li:nth-child(n+5){margin-top:15px;}
    .process_list1 > li:nth-child(n+3){margin-top:15px;}

    .process_list2{}
    .process_list2 > li{width:100%;margin-right:0;min-height: 0;}
    .process_list2 > li + li{margin-top:15px;}
    .process_list2 > li:nth-child(n+5){margin-top:0;}

    .edu_list{display:block;}
    .edu_list li{width:100%;}
    .edu_list li + li{margin-top:25px;padding-top:25px;border-top:1px solid #E8E8E8;}
    .edu_list li:nth-child(2n){padding-left:0;}
}